.button {
  width: fit-content;
  padding: 0;
  position: relative;
  min-height: var(--touch-target);
  padding-inline: var(--fixed-scale-2);
  padding-block: var(--fixed-scale-1);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: transparent;
  gap: calc(var(--fixed-scale-1) * -1);
  cursor: pointer;
}

.button__backing {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: var(--border-radius-md);
  transition: background-color 0.2s ease;
}

.button__label {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: transparent;
  padding-inline: var(--fixed-scale-2);
}

.button__icon {
  font-size: 24px;
  z-index: 1;
  /* background-color: green; */
}

.button__primary {
  color: var(--colorway-interaction-variant);
  & .button__backing {
    background-color: var(--colorway-interaction-primary-backing);
  }
}

.button:hover {
  &.button__primary {
    & .button__backing {
      background-color: var(--colorway-interaction-primary-backing-hover);
    }
  }
}

.button__secondary {
  color: var(--colorway-interaction-main);
  & .button__backing {
    border: 1px solid;
    border-color: var(--colorway-interaction-main);
  }
}
