:root {
  --size-2xs: var(--fixed-scale-1);
  --size-xs: var(--fluid-scale-2xs);
  --size-sm: var(--fluid-scale-xs);
  --size-md: var(--fluid-scale-sm);
  --size-lg: var(--fluid-scale-lg);
  --size-xl: var(--fluid-scale-2xl);

  --pad-x: var(--fluid-scale-md-xl);
  --pad-y: var(--fluid-scale-xl-2xl);
  --gap: var(--fluid-scale-lg-xl);
  --touch-target: var(--fixed-scale-10);

  --border-radius-sm: 0.125rem;
  --border-radius-base: var(--fixed-scale-1);
  --border-radius-md: 0.37rem;
  --border-radius-lg: var(--fixed-scale-2);
  --border-radius-xl: var(--fixed-scale-3);
  --border-radius-2xl: var(--fixed-scale-4);
  --border-radius-3xl: var(--fixed-scale-6);
  --border-radius-3xl: var(--fixed-scale-6);
  --border-radius-full: 9999rem;
}
